[Unit]
Description= User service

[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_URL='redis://redis-dev.kvsr.online:6379'
Environment=MONGO_URL="mongodb://mongodb-dev.kvsr.online:27017/users"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target